@tailwind base;
@tailwind components;
@tailwind utilities;
.footer-t-m{
    @apply mt-1 mb-1;
}
.footer-m{
    @apply mt-0.5 mb-0.5;
}
.textarea{
    resize: none;
}
.scroll-y{
    @apply scroll;
    @apply overflow-y-auto
}
.h2{
   @apply my-3 font-semibold text-2xl bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent;   
}
.h3{
   @apply my-2 font-semibold text-xl bg-gradient-to-r from-pink-400 to-violet-600 bg-clip-text text-transparent;   
}
.bold{
   @apply  font-semibold bg-gradient-to-r from-pink-600 to-violet-800 bg-clip-text text-transparent;   
}
.scroll{
    .no-scrollbar {
        overflow: hidden;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
      
      .no-scrollbar::-webkit-scrollbar {
        display: none;  /* Chrome, Safari, and Edge (Chromium) */
      }
}
a{
    text-decoration: none !important;
}
.title{
   @apply bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent;
}
article{
    margin-bottom:0 !important ;
    padding-bottom:0 !important;
    min-height: 50vh !important;
}
main{
    max-width: 100% !important;
}
#__next{
   position: relative;
   z-index:0; 
}
textarea {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: inherit;
    }
    